docs/** @RyohaMitsudome @oguzkaganozt
components/** @RyohaMitsudome @oguzkaganozt
deployments/** @RyohaMitsudome @oguzkaganozt

.devcontainer/** @oguzkaganozt @yutakondo
.github/** @oguzkaganozt @yutakondo
ansible/** @oguzkaganozt @yutakondo
docker/** @oguzkaganozt @yutakondo
mkdocs.yaml @RyohaMitsudome @oguzkaganozt
