docs/** @mitsudome-r @oguzkaganozt
components/** @mitsudome-r @oguzkaganozt
deployments/** @mitsudome-r @oguzkaganozt
platforms/** @mitsudome-r @oguzkaganozt

.github/** @oguzkaganozt @youtalk
mkdocs.yaml @mitsudome-r @oguzkaganozt
