# Autoware
autoware/

# Vim
*.swp
*.swo

# IDE
.vscode/
*.code-workspace
*.cursorignore
*.cursorrules

# colcon
build/
install/
log/
/src/

# Python
*.pyc

# MkDocs
/site/

# Generated docs

# rviz Screen Capture
capture/

# CodeChecker
.codechecker/

# Playwright CLI artifacts
.playwright-cli/
