services:
  autoware:
    image: ghcr.io/autowarefoundation/autoware:universe
    volumes:
      - autoware_map:/autoware_map
    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_DOMAIN_ID=0
    networks:
      - local_net
    command: > 
      bash -c "source /opt/ros/humble/setup.bash &&
      ros2 launch autoware_launch planning_simulator.launch.xml
      map_path:=/autoware_map
      vehicle_model:=sample_vehicle
      sensor_model:=sample_sensor_kit
      scenario_simulation:=true
      rviz:=false"
    depends_on: 
      - edge_zenoh_bridge

  scenario_simulator:
    image: ghcr.io/autowarefoundation/autoware-tools:scenario-simulator
    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_DOMAIN_ID=0
    volumes:
      - autoware_map:/opt/autoware/share/kashiwanoha_map/map
    networks:
      - local_net
    depends_on:
      - edge_zenoh_bridge

  edge_zenoh_bridge:
    image:  eclipse/zenoh-bridge-ros2dds:latest
    environment:
      - ROS_DISTRO=humble
      - ROS_DOMAIN_ID=0
    volumes:
      - ./config:/config
    command: >
      -l tcp/0.0.0.0:7447
      -e tcp/cloud_zenoh_bridge:7448
      -c /config/zenoh-bridge-ros2dds.json5
    networks:
      - local_net

  visualizer:
    image: ghcr.io/autowarefoundation/autoware-tools:visualizer
    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_DOMAIN_ID=1
      - REMOTE_PASSWORD=o
    ports:
      - "0.0.0.0:6081:6080"
    networks:
      - local_net
    depends_on:
      - cloud_zenoh_bridge

  cloud_zenoh_bridge:
    image: eclipse/zenoh-bridge-ros2dds:latest
    environment:
      - ROS_DISTRO=humble
      - ROS_DOMAIN_ID=1
    volumes:
      - ./config:/config
    command: >
      -l tcp/0.0.0.0:7448
      -c /config/zenoh-bridge-ros2dds.json5
    networks:
      - local_net

volumes:
  autoware_map:

networks:
  local_net:
    driver: bridge
