services:
  autoware:
    image: ghcr.io/autowarefoundation/autoware:universe
    volumes:
      - autoware_map:/autoware_map
    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    networks:
      - edge_net
    command: > 
      ros2 launch autoware_launch planning_simulator.launch.xml
      map_path:=/autoware_map
      vehicle_model:=sample_vehicle
      sensor_model:=sample_sensor_kit
      scenario_simulation:=true
      rviz:=false
    depends_on: 
      - edge_zenoh_bridge

  scenario_simulator:
    image: ghcr.io/autowarefoundation/autoware-tools:scenario-simulator
    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    volumes:
      - autoware_map:/opt/autoware/share/kashiwanoha_map/map
    networks:
      - edge_net
    depends_on:
      - edge_zenoh_bridge

  visualizer:
    image: ghcr.io/autowarefoundation/autoware-tools:visualizer
    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    ports:
      - "6080:6080"
    networks:
      - cloud_net
    depends_on:
      - cloud_zenoh_bridge

  edge_zenoh_bridge:
    image: eclipse/zenoh-bridge-ros2dds:latest
    environment:
      - ROS_DISTRO=humble
    volumes:
      - ./config:/config
    command: -e tcp/cloud_zenoh_bridge:7447 -c /config/zenoh-bridge-ros2dds.json5
    networks:
      - edge_net
      - zenoh_net

  cloud_zenoh_bridge:
    image: eclipse/zenoh-bridge-ros2dds:latest
    environment:
      - ROS_DISTRO=humble
    ports:
      - "7447:7447/tcp"
    volumes:
      - ./config:/config
    command: -c /config/zenoh-bridge-ros2dds.json5
    networks:
      - cloud_net
      - zenoh_net

volumes:
  autoware_map:

networks:
  edge_net:
    driver: bridge
  cloud_net:
    driver: bridge
  zenoh_net:
    driver: bridge